.Rproj.user
.Rhistory
.RData
.Ruserdata
Scramble-script.R
temp
Confidence-regions.sublime-workspace
Data
Metoda Hotelling.nb.html
Metoda-Hotelling.html
MonteCarlo_1000_runs_2020-11-05.csv
MonteCarlo_100_runs_2020-11-05_time-11-19_.csv
MonteCarlo_50_runs_2020-11-05.csv
Sample_data_HL.csv
